@charset "utf-8";
/* General Styles */
body {
    font-family: 'Poppins', sans-serif;
    background-color: #121212;
    color: #E0E0E0;
    margin: 0;
    line-height: 1.6;
}

/* Navbar Styles */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 15px;
    background-color: #1E1E1E; /* Dark gray background for navbar */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.4); /* Darker shadow */
    border-radius: 8px;
}

.brand {
    font-size: 1.5rem;
    color: #BB86FC;
}

.nav-links {
    list-style: none;
    display: flex;
    gap: 2rem;
}

.nav-links a {
    text-decoration: none;
    color: #fff;
    transition: color 0.3s;
    font-size: larger;
    position: relative;
}

.nav-links li a::after {
    content: '';
    width: 0%;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -6px;
    transition: 0.5s;
}

.nav-links li a:hover::after {
    width: 100%;
}

#home {
    width: 100%;
    height: 60vh;
    background-image: url("./images/backgroundImage.jpg");
    background-size: cover;
    background-position: center;
}

.header-text {
    margin-left: 2.5%;
    margin-top: 9%;
    font-size: 30px;
}

.header-text h1 {
    font-size: 50px;
}

.social-links {
    display: flex;
    align-content: flex-start;
    width: 33%;
    gap: 1.5rem;
}

.social-links li {
    list-style: none;
    display: flex;
    justify-content: space-around;
}

.social-links li a {
    display: flex;
    text-decoration: none;
    font-size: 20px;
    background-color: #03DAC6;
    padding: 5% 10%;
    align-items: center;
    gap: 7px;
    border-radius: 50px;
    transition: background-color 0.5s;
    margin-right: 30px;
}

.social-links li a:hover {
    background-color: lightblue;
}

/* Section Styles */
section {
    padding: 2rem;
    border-bottom: 1px solid #282828;
}

h1, h2 {
    color: #BB86FC;
}

/* Form Styles */
form {
    background-color: #1E1E1E;
    padding: 1.5rem;
    border: 1px solid #282828;
    border-radius: 5px;
    max-width: 400px;
    margin: auto;
}

form label {
    display: block;
    margin-bottom: 0.5rem;
    color: #A0A0A0;
}

form input, form textarea {
    width: 96%;
    padding: 0.5rem;
    margin-bottom: 1rem;
    border: 1px solid #282828;
    border-radius: 5px;
    background-color: #121212;
    color: #E0E0E0;
}

form button {
    background-color: #FF5722;
    color: #E0E0E0;
    padding: 0.7rem 1.5rem;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

form button:hover {
    background-color: #03DAC6;
}

#about {
    padding: 80px 0;
}

.row {
    display: flex;
    justify-content: space-between;
}

.about-col-1 {
    flex-basis: 37%;
}
.about-col-1 img {
    width: 100%;
    border-radius: 20px;
}

.about-col-2 {
    flex-basis: 57%;
}

.subtitle {
    font-size: 40px;
    font-weight: 600;
    color: #BB86FC;
    margin-top: 0;
    margin-bottom: 15px;
}

.tab-titles {
    display: flex;
    margin: 0 0 30px;
}

.tab-links {
    margin-right: 50px;
    font-size: 18px;
    font-weight: 500;
    cursor: pointer;
    position: relative;
}

.tab-links::after {
    content: '';
    width: 0;
    height: 3px;
    background: #ff004f;
    position: absolute;
    left: 0;
    bottom: -8px;
    transition: 0.5s;
}

.tab-links.active-link::after {
    width: 75%;
}

.tab-contents ul li {
    list-style: none;
    margin: 10px 0;
}

.tab-contents ul li span {
    color: #ff004f;
    font-size: 14px;
}

.tab-contents {
    display: none;
}

.tab-contents.active-tab {
    display: block;
}

.container {
    background-color: #1E1E1E;
    border-radius: 20px;
    padding-left: 15px;
    padding-top: 15px;
    padding-bottom: 6px;
    padding-right: 15px;
    align-items: center;
    margin: auto;
    width: 95%;
    box-shadow: 10px 10px #050505;
}